<div class="row">


    <div class="col">
        <form #myForm="ngForm" (ngSubmit)="sav(myForm)">
            <div class="showValues">
                <div class="receita">
                    <label>Receita</label><br>
                    <div class="num">

                        {{ rec() | currency: 'BRL' }}
                    </div>
                </div>

                <div class="despesa">
                    <label>Despesa</label><br>
                    <div class="num">
                        {{ desp() | currency: 'BRL' }}
                    </div>
                </div>

                <div class="saldo">
                    <label>Saldo</label><br>
                    <div class="num">
                        {{ sald() | currency: 'BRL' }}
                    </div>
                </div>
            </div>

            <div class="fields">
                <div>
                    <label>Tipo</label>
                    <select name="select" [(ngModel)]="mvt.tipo">
                        <option value="receita">Receita</option>
                        <option value="despesa">Despesa</option>
                    </select>
                </div>

                <div>
                    <label>Mês</label>
                    <select name="select" [(ngModel)]="mvt.data">
                        <option value="jan" selected>Janeiro</option>
                        <option value="fev">Fevereiro</option>
                        <option value="mar">Março</option>
                        <option value="abr">Abril</option>
                        <option value="mai">Maio</option>
                        <option value="jun">Junho</option>
                        <option value="jul">Julho</option>
                        <option value="ago">Agosto</option>
                        <option value="set">Setembro</option>
                        <option value="out">Outubro</option>
                        <option value="nov">Novembro</option>
                        <option value="dez">Dezembro</option>
                    </select>
                </div>

                <div>
                    <label>Descrição</label>
                    <input type="text" name="descricao" [(ngModel)]="mvt.descricao">
                </div>

                <div>
                    <label>Valor</label>
                    <input type="number" name="valor" placeholder="R$ 00,00" [(ngModel)]="mvt.valor">
                </div>
                <div>
                    <input type="submit" value="Salvar" (click)="reload()">
                </div>
            </div>
        </form>

        <div class="table-container">

            <table class="tab">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Mês</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of mvtList">
                        <th>{{ l.tipo }}</th>
                        <th>{{ l.data }}</th>
                        <th>{{ l.descricao }}</th>
                        <th [class.col-despesa]="l.tipo === 'despesa'"
                            [class.col-receita]="l.tipo === 'receita'">
                            {{ l.valor | currency: 'BRL' }}
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col">
        <div class="graph-container">
            <grafico [dados]="mesList"></grafico>
        </div>
    </div>
</div>