<form #myForm="ngForm" (ngSubmit)="sav(myForm)">
    <div class="showValues">
        <div class="receita">
            <label>Receita</label><br>
            <div class="num">

                {{ rec() | currency: 'BRL' }}
            </div>
        </div>

        <div class="despesa">
            <label>Despesa</label><br>
            <div class="num">
                {{ desp() | currency: 'BRL' }}
            </div>
        </div>

        <div class="saldo">
            <label>Saldo</label><br>
            <div class="num">
                {{ sald() | currency: 'BRL' }}
            </div>
        </div>
    </div>

    <div class="fields">
        <label>Tipo</label>
        <select name="select" [(ngModel)]="mvt.tipo">
            <option value="despesa" selected>Despesas</option>
            <option value="receita">Receita</option>
        </select>

        <label>Descrição</label>
        <input type="text" name="descricao" [(ngModel)]="mvt.descricao">

        <label>Valor</label>
        <input type="number" name="valor" [(ngModel)]="mvt.valor">

        <input type="submit" value="Salvar">
    </div>
</form>

<table class="tab">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of mvtList">
            <th>{{ l.tipo }}</th>
            <th>{{ l.descricao }}</th>
            <th>{{ l.valor | currency: 'BRL' }}</th>
        </tr>
    </tbody>
</table>